	  <ul class="nav nav-tabs">
	    <li><%= link_to "Home", root_path %></li>
	    <li><%= link_to "About us", '/aboutus' %></li>
	    <li><%= link_to "About this project", '/project' %></li>
	    <li><%= link_to "Contact", '/contactus' %></li>
	    <li><%= link_to "Innovations", innovations_path %></li>
	    <li><%= link_to "Login (not implemented)", '/welcome' %></li>
	 </ul>