<div class="jumbotron">
  <h1>
    Welcome to the KfH innovation database
  </h1>
<p>Search our innovations</p>  
  <%= form_tag(innovations_path, method: :get) do %>
    <%= text_field_tag :term, nil, class: 'input-lg col-xs-10'	 %>
    <%= submit_tag '  Search', class: 'btn btn-lg btn-primary', name: nil %>
  <% end %>

<br />
</div>
<blockquote>Have your own innovation?<br /> <%= link_to 'Submit it here', new_innovation_path, class: 'btn btn-lg btn-primary'%></blockquote>
<blockquote>Browse all innovations - <%= link_to "View innovations", innovations_path %></blockquote>
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quis eros efficitur, dignissim turpis ac, dapibus tortor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean nec congue felis. Fusce nec lectus vel elit sodales euismod. Nullam tristique leo ex, at dapibus magna volutpat id. Nullam luctus magna vel posuere commodo. Ut mauris erat, venenatis ac justo non, vestibulum tincidunt nunc.</p>

<h4>Nulla facilisi. Cras id nibh ut erat suscipit porttitor. Vestibulum condimentum, leo et lobortis faucibus, ligula diam condimentum purus, cursus maximus orci augue in velit. Morbi vulputate justo quis gravida dignissim. Aliquam vitae nisi non urna lobortis sollicitudin ut quis tortor. In est eros, volutpat nec nisi nec, euismod rutrum elit. Nulla at diam metus. Donec vehicula enim quam, quis suscipit est placerat non. In eu ligula lacinia, luctus ex tristique, consectetur est. Etiam lobortis commodo sodales. Aliquam malesuada metus eget nisl mollis, at accumsan turpis suscipit. Curabitur efficitur scelerisque est et ornare. Nunc tempor arcu pharetra mattis mattis. Donec faucibus, augue eu dapibus molestie, neque mauris tristique tellus, eget lobortis arcu justo tempor ligula.</h4>