<div class="jumbotron">
  <h1>
    Welcome to the KfH innovation database
  </h1>
<p>Search our innovations</p>  
  <%= form_tag(innovations_path, method: :get) do %>
    <%= text_field_tag :term, nil, class: 'input-lg col-xs-10'	 %>
    <%= submit_tag '  Search', class: 'btn btn-lg btn-primary', name: nil %>
  <% end %>

<br />
</div>
<p>Have your own innovation?<br /> <%= link_to 'Submit it here', new_innovation_path, class: 'btn btn-lg btn-primary'%></p>
<p>Browse all innovations - <%= link_to "View innovations", innovations_path %></p>