<p id="notice"><%= notice %></p>
<div class="form-horizontal"> 
    <div class="col-sm-offset-1">
<h3>
    <%= @innovation.title %>
  </h3>
  </div>
  <div class="col-sm-offset-2">
  <p>
    <strong>Author:</strong>
    <%= @innovation.author %>
  </p>


  <p>
    <strong>Email:</strong>
    <%= @innovation.orgaim %>
  </p>

  <p>
    <strong>Tags:</strong><br />
    <%= @innovation.tags %>
  </p>

  <p>
    <strong>Organisation/Service:</strong><br />
    <%= @innovation.summary %>
  </p>

  <p>
    <strong>Who asked:</strong><br />
    <%= @innovation.context %>
  </p>

  <p>
    <strong>What they said:</strong><br />
    <%= @innovation.aimsobs %>
  </p>

  <p>
    <strong>What was done:</strong><br />
    <%= @innovation.methods %>
  </p>

  <p>
    <strong>How it helped:</strong><br />
    <%= @innovation.collaboration %>
  </p>

  <p>
    <strong>External link:</strong><br />
    <%= link_to @innovation.learningpoints, "http://#{@innovation.learningpoints}", :target => "_blank"  %>
    
  </p>

  <p>
    <strong>Date added:</strong>
    <%= @innovation.date.strftime("%d/%m/%Y") %>
  </p>
  <!--<%= link_to 'Edit', edit_innovation_path(@innovation) %> |-->
  <%= link_to 'Back', innovations_path, class: 'btn btn-info' %> <%= link_to 'Edit', edit_innovation_path(@innovation), class: 'btn btn-mini btn-success' %>  <%= link_to 'Destroy', @innovation, method: :delete, class: 'btn btn-mini btn-danger' , data: { confirm: 'Are you sure?' }%>
  </div>
</div>