<!DOCTYPE html>
<html>
  <head>
    <title>KfH Innovations</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
	  <ul class="nav nav-tabs">
	    <li><%= link_to "Home", root_path %></li>
	    <li><%= link_to "About us", '/aboutus' %></li>
	    <li><%= link_to "About this project", '/project' %></li>
	    <li><%= link_to "Contact", '/contactus' %></li>
	    <li><%= link_to "Innovations", innovations_path %></li>
	    <li><%= link_to "Login (not implemented)", '/welcome' %></li>
	 </ul>

    <%= yield %>
   </div>
       <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
        <p>All content copyright whomever<br />
        Please feel free to distribute material here, but give credit.</p>
        <p><br /></p>
      </div>
    </footer>
  </body>
</html>
